.CodeMirror-scroll {
  font-size: 24px;
  line-height: 24px;
}
body {
  font-family: Lato;
  /*background-color: #030636;*/
  background-color: #ebebeb;
  background-color: #fff;
}
a, a:hover, a:visited {
  color: black;
}
snippet {
  display: none;
}
.container {
  width: 100%;
  position:absolute;
}
.content .section {
  padding-top: 110px;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  display: inline-block;
  position: fixed;
  top:0;
  margin-top:0;
  padding-bottom: 5px;
  height: 110px;
  width: 100%;
  z-index:1000;
  background-color: #ebebeb;
  background-color: #fff;
}
.header-content {
  max-width: 1000px;
  margin: 0 auto;
}
.header a{
  float:left;
  margin: 2px;
  margin-left: 10px;
}
.header ul {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  clear: left;
}
.header li {
  font-family: Ubuntu;
  font-size: 16px;
  list-style: none;
  display: inline;
  list-style-type: none;
}
li {
  list-style: none;
  list-style-type: none;
}
h1 {
  font-family: Ubuntu;
  font-size: 72px;
  padding: 0;
  margin:0;
  float:left;
}
h2 {
  font-family: Ubuntu;
  font-size: 24px;
  width: 100%;
  padding: 5px;
  background-color: #F89830;
  color: black;
}

h3 {
  font-family: Ubuntu;
}
p {
  font-family: Lato;
  font-size: 18px;
}
.editor {
  width: 100%;
  border: 1px solid gray;
}
.editor .CodeMirror {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}
aside {
  font-size: small;
  position: relative;
  margin: 10px;
  padding: 5px;
  background-color: #fffeee;
  width: 180px;
  font-family: Lato;
}

.cm-s-default .cm-number { color: #25B0B0; }

.sidebyside {
  display: block;
}
.sidebyside .left {
}
.sidebyside .right {
}

.sidebyside svg {
  border: 1px solid #cfcfcf;
}
@media only screen and (min-width: 1000px) {
    .sidebyside {
        width: 100%;
    }
    .sidebyside .left, .sidebyside .right {
        vertical-align: top;
        margin: 0;
        display: inline-block;
        width: 45%;
    }
    .sidebyside .left2, .sidebyside .right2 {
      vertical-align: top;
      margin: 0;
      display: inline-block;
    }
    .sidebyside .left2 {
      width: 65%;
      margin-right: 5px;
    }
    .sidebyside .right2 {
      width: 34%;
    }
    .sidebyside .left {
        margin-right: 5px;
    }
    aside {
      position: relative;
      right: 10px;
      bottom: 0;
    }
}
